<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"></link>
    <title>Stocks From QAUDL</title>
</head>
<body>

<div class="row">

</div>
<nav>
    <div class="nav-wrapper orange">
        <a class="brand-logo center">QUADL stcoks for the past week</a>
    </div>
</nav>

<div >
    <a  class="fine text" href="../static/app/index.html">Here to the page</a>
    <embed type="text/html" src="../../static/app/index.html"></embed>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript"  src="/static/js/myscript.js"></script>
<script type="text/javascript" th:src="@{/resources/static/js/application-script.js}" src="../../js/application-script.js"></script>
</body>
</html>